server:
  port: 8080

spring:
  application:
    name: orders

management:
  endpoints:
    web:
      exposure:
        include: health,info,mappings
  endpoint:
    health:
      show-details: always
